* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaeff1;
  font-family: "Raleway", sans-serif;
}

#container {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 20vh;
}

.card {
  padding: 8px;
  border: 1px solid #bacdd8;
  border-radius: 10px;
  background-color: rgb(117, 111, 111);
  /* height: 303px; */
  /* background-color: gray; */
  /* width: 120px; */
}
img {
  width: 100%;
  border-radius: 5px;
}

.card-tag {
  margin: 15px 0px 15px 0px;
}

#tag1 {
  background-color: rgb(186, 173, 173);
  border-radius: 10px;
  padding: 4px 12px;
  margin: 0 9px 0 0;
  color: black;
}

#tag2 {
  background-color: rgb(186, 173, 173);
  border-radius: 10px;
  padding: 4px 12px;
  margin: 0 0 0 9px;
  color: black;
}

.card-name {
  font-size: 23px;
  font-weight: 600;
  margin: 12px 0;
}

.card-descrip {
  margin: 25px 0;
  line-height: 1.6;
  align-items: lef;
}

button {
  border-radius: 30px;
  border: 0.5px solid black;
  padding: 13px 35px;
  margin: 20px 160px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
}
button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}
