.container {
  display: flex;
  height: 400px;
  /* width: 500px;  dont write to see wrap effect */
  border: 2px solid black;
  /* flex-wrap: wrap; */
  /* flex-flow: row wrap; */
}

.box {
  border: 2px solid red;
  margin: 5px;
  width: 50px;
}
